@using Team8ADProjectSSIS.Models
@{
    var reqs = (List<RequisitionItem>)ViewData["reqq"];
    ViewBag.Title = "Update";
    var reqss = (List<Requisition>)ViewData["reqs"];
    var selectedId = "";
    var j = 0;

}


<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script>
    var previous = null;
    var current = null;
    function populateTable() {

        $.get("UpdatereqId",
            //      $.getJSON("UpdatereqId",
            function (json) {
                current = JSON.stringify(json);
                console.log(current);
                //Append each row to html table
                for (var i = 0; i < json.length; i++) {

                    current = $('<tr/>');
                    current.append("<td>" + json[i].IdReqItem + "</td>");
                    current.append("<td>" + json[i].IdRequisition + "</td>");
                    current.append("<td>" + json[i].IdItem + "</td>");
                    current.append("<td>" + json[i].Unit + "</td>");
                    $('table').append(current);
                }

            });
    }





    function sendJson(selectedId) {
        //   $("select.req").change(function () {
        //  var selectedId = $(this).children("option:selected").val();
        var current = $('<tbody class="tItems">')
        var g = {};
        g.url = '/Employee/UpdatereqId';
        g.type = "POST";
        g.dataType = "json";
        g.data = JSON.stringify({ reqID: selectedId });
        g.contentType = "application/json";
        g.success = function (response) {
            console.log(response);
            console.log(response.status);
            console.log(response.Req.HeadRemark);


            if (response.status != "Approved" && response.status != "Cancelled") {

                for (var i = 0; i < response.Items.length; i++) {

                    console.log(response.descrip[i].Description);
                    console.log(response.descrip[i].AvailableUnit);
                    current = $('<tr/>');
                    current.append("<td>" + '<span class="req-item-id">' + response.Items[i].IdReqItem + "</td>");
                    current.append("<td>" + response.Items[i].IdItem + "</td>");
                    current.append("<td>" + '<span class="cart-item-title" value=' + i + '>' + response.descrip[i].Description + '</span>' + "</td>");
                    current.append("<td>" + '<input class="cart-quantity-input" type="number" max ="' + response.descrip[i].AvailableUnit + '"value=' + response.Items[i].Unit + '><button class="btn btn-danger" type="button" value=' + i + ' onclick="removeCartItem(' + i + ')">REMOVE</button>' + "</td>");

                    $('table').append(current);




                    //  console.log(response[i].IdReqItem );
                }

                document.getElementById("delete").style.visibility = 'visible';
                document.getElementById("submit").style.visibility = 'visible';
                document.getElementById("add").style.visibility = 'visible';
                //  document.getElementsByClassName('status')[0].innerText = response.status;
                //  document.getElementsByClassName('status')[0]. = response.status;


                //     var btn = document.createElement("BUTTON");
                //     btn.innerHTML = "Add Item"
                //     document.body.appendChild(btn);
            }

            else {
                for (var i = 0; i < response.Items.length; i++) {


                    current = $('<tr/>');
                    current.append("<td>" + response.Items[i].IdReqItem + "</td>");
                    current.append("<td>" + response.Items[i].IdItem + "</td>");
                    current.append("<td>" + response.descrip[i].Description + "</td>");
                    current.append("<td>" + response.Items[i].Unit + "</td>");
                    $('table').append(current);


                    //  console.log(response[i].IdReqItem );
                }

                document.getElementById("delete").style.visibility = 'hidden';
                document.getElementById("submit").style.visibility = 'hidden';
                document.getElementById("add").style.visibility = 'hidden';


            }

            document.getElementsByClassName('remark')[0].innerText = response.Req.HeadRemark;
            document.getElementsByClassName('status')[0].innerText = response.status;
            //  document.getElementsByClassName('dateCreated')[0].innerText = formatDate(response.Req.RaiseDate);
            console.log("Req Id write success");
        };
        g.error = function (response) {
            console.log("Req Id write failed");
        };
        $.ajax(g);
        console.log(g);
    }




    function clearTableData() {
        $("select.req").change(function () {
            console.log("It change!")
            $('#table tbody').empty();
            var selectedId = $(this).children("option:selected").val();
            console.log(selectedId);


        });
    }
    function newPopup(url) {
        popupWindow = window.open(
            url, 'popUpWindow',
            'height=600,width=800,left=50,top=10,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes')
    }


    function UpdateReqitems(selectedId) {
        var cartItems = document.getElementsByClassName('tItems')[0]
        var cartItemNames = cartItems.getElementsByClassName('cart-item-title')
        var quantityInputs = cartItems.getElementsByClassName('cart-quantity-input')
        var cartRedIds = cartItems.getElementsByClassName('req-item-id');
        if (cartItemNames.length > 0) {
            //var f = {};
            //f.url = '/Employee/updateReq';
            //f.type = "POST";
            //f.dataType = "json";
            //f.data = JSON.stringify({ username: "Sam Worthington", selectedId: selectedId });
            //console.log(selectedId);
            //f.contentType = "application/json";
            //f.success = function (response) {
            for (var i = 0; i < cartItemNames.length; i++) {
                console.log(cartRedIds[i].innerText);
                if (cartRedIds[i].innerText == "-") {
                    var gg = {};
                    gg.url = '/Employee/insertReq';
                    gg.type = "POST";
                    gg.dataType = "json";
                    gg.data = JSON.stringify({ username: "Sam Worthington", selectedId: selectedId, itemName: cartItemNames[i].innerText, quantity: quantityInputs[i].value });
                    gg.contentType = "application/json";
                    gg.success = function (response) {
                        console.log("Update New Req Items write success");
                    };
                    gg.error = function (response) {
                        console.log("Update New Req Items write failed");
                    };
                    $.ajax(gg);
                }
            }
            for (var i = 0; i < cartItemNames.length; i++) {
                var g = {};
                g.url = '/Employee/updateReq';
                g.type = "POST";
                g.dataType = "json";
                g.data = JSON.stringify({ username: "Sam Worthington", selectedId: selectedId, itemName: cartItemNames[i].innerText, quantity: quantityInputs[i].value });
                console.log(cartItemNames[i].innerText);
                console.log(quantityInputs[i].value);
                g.contentType = "application/json";
                g.success = function (response) {
                    console.log("Requisition form updated!");
                };
                g.error = function (response) {
                    console.log("Update Fail.Pls try again");
                };
                $.ajax(g);
            }
        }
        else {
            alert("There is no stationery requests left in the form.\n Do you want to delete the reqest?");
        }
        //    alert("Red Id Write success");
        //    // while (cartItems.hasChildNodes()) {
        //    //   cartItems.removeChild(cartItems.firstChild)
        //    //}
        //};
        //f.error = function (response) {
        //    alert("Red Id Write failed");
        //};
        //$.ajax(f);
        alert("Requisition form updated!");
    }

    function DeleteReqitems(selectedId) {


        var cartItems = document.getElementsByClassName('tItems')[0]
        var cartItemNames = cartItems.getElementsByClassName('cart-item-title')
        var quantityInputs = cartItems.getElementsByClassName('cart-quantity-input')


        for (var i = 0; i < cartItemNames.length; i++) {


            var g = {};
            g.url = '/Employee/updateItemAvai';
            g.type = "POST";
            g.dataType = "json";
            g.data = JSON.stringify({ username: "Sam Worthington", selectedId: selectedId, itemName: cartItemNames[i].innerText, quantity: quantityInputs[i].value });
            console.log(cartItemNames[i].innerText);
            console.log(quantityInputs[i].value);
            g.contentType = "application/json";
            g.success = function (response) {
                console.log("Item Stock updated!");
            };
            g.error = function (response) {
                console.log("Item Stock updated fail!.Pls try again");
            };
            $.ajax(g);
        }

        var g = {};
        g.url = '/Employee/deleteReq';
        g.type = "POST";
        g.dataType = "json";
        g.data = JSON.stringify({ username: "Sam Worthington", selectedId: selectedId });
        g.contentType = "application/json";
        g.success = function (response) {
            if (!alert('Requisition has been withdrawn!')) { window.location.reload(); }

        };
        g.error = function (response) {
            console.log("Req Items delete failed!");
        };
        $.ajax(g);





    }


    function removeCartItem(selectedButton) {


        var buttonClicked = document.getElementsByClassName('btn-danger')[selectedButton];
        var value = document.getElementsByClassName('btn-danger')[selectedButton].value;
        var redId = document.getElementsByClassName('req-item-id')[selectedButton].innerHTML;
        var itemName = document.getElementsByClassName('cart-item-title')[selectedButton].innerHTML;
        var itemQuantity = document.getElementsByClassName('cart-quantity-input')[selectedButton].value;
        console.log(itemQuantity);

        console.log(itemName);

        var e = document.getElementById("mySelect");
        var strSelected = e.options[e.selectedIndex].value;
        console.log(strSelected);

        document.getElementsByClassName('req-item-id')[selectedButton].innerText = "to delete";
        console.log(document.getElementsByClassName('req-item-id')[selectedButton].innerText);
        buttonClicked.parentElement.parentElement.remove();
        console.log(value);

        var gg = {};
        gg.url = '/Employee/deleteReqItem';
        gg.type = "POST";
        gg.dataType = "json";
        gg.data = JSON.stringify({ username: "Sam Worthington", selectedId: strSelected, itemName: itemName, itemQuantity: itemQuantity });

        gg.contentType = "application/json";
        gg.success = function (response) {
            console.log("Delete Req Items write success");
        };
        gg.error = function (response) {
            console.log("Delete Req Items write failed");
        };
        $.ajax(gg);




    }



    function removeCart() {
        var buttonClicked = document.getElementsByClassName('btn-remove')[0];
        buttonClicked.parentElement.parentElement.remove()
        // updateCartTotal()
    }



    $(document).ready(function () {
        $("select.req").change(function () {
            var selectedId = $(this).children("option:selected").val();
            console.log(selectedId);
            sendJson(selectedId);
            clearTableData();
            //   populateTable();

            //  getJsonData();

            var e = document.getElementById("mySelect");
            var strSelected = e.options[e.selectedIndex].value;
            console.log(strSelected);
        });

        document.getElementsByClassName("delete-req-button")[0].addEventListener("click", function (event) {
            var e = document.getElementById("mySelect");
            var strSelected = e.options[e.selectedIndex].value;
            console.log(strSelected);
            DeleteReqitems(strSelected);


            // event.target.setAttribute("href", "/Update?cmd=delete&reqID=" + selectedId);

        });



        document.getElementsByClassName('btn-remove')[0].addEventListener('click', removeCart)

        document.getElementsByClassName('update-item-button')[0].addEventListener('click', function () {
            var e = document.getElementById("mySelect");
            var strSelected = e.options[e.selectedIndex].value;
            console.log(strSelected);
            UpdateReqitems(strSelected);
            //   window.location.href = "https://localhost:44304/Employee/Update?cmd=update&reqID=" + selectedId;

        });

        var removeCartItemButtons = document.getElementsByClassName('btn-danger')
        for (var i = 0; i < removeCartItemButtons.length; i++) {
            var button = removeCartItemButtons[i]
            button.addEventListener('click', removeCartItem)
        };

        document.getElementsByClassName('add-item-button2')[0].addEventListener('click', function () {

            //   window.location.href = "https://localhost:44304/Employee/Update?cmd=update&reqID=" + selectedId;

        });
    });
</script>



<div class="container" style="margin-top:20px;font-size: 1.5rem">
    <form>
        <div class="select-status"
        <div class="form-group">
        <label for="sel1">Form ID</label>
        <select class="req" <select id="mySelect">
        <option value="none" selected disabled hidden>
        Select an ID
        @foreach (var q in reqss)
        {
            <option class="Idvalue">@q.IdRequisition</option>

        }
        </select>

        </div>
        <div class="details">

        <div>
        <label>Status:</label>
        <span class="status">Status</span>
        </div>

        <div>
        <label>Remark:</label>
        <span class="remark">Remark</span>
        </div>





        </div>
        </div>
    </form>
</div>

<table class="table table-bordered table-condensed table-hover table-striped" id="table">
    <thead>
        <tr>
            <th>IdReqItem</th>
            <th>IdItem</th>
            <th>Description</th>
            <th>Unit</th>
        </tr>
    </thead>

    <tbody class="tItems">
    </tbody>
</table>



<table style="display: none;">
    <tr>
        <td> <span class="req-item-id">-</td>
        <td> </td>
        <td> <span class="cart-item-title">title</span> </td>
        <td>
            <input class="cart-quantity-input" type="number" value="1"><button class="btn btn-remove" onclick="removeCart()" type="button">REMOVE</button>
        </td>
    </tr>

</table>
<div class="del-up-add">
    <button class="btn btn-primary delete-req-button" id="delete">Withdraw</button>

    <button class="btn btn-primary update-item-button" id="submit">Update</button>

    @*<button href="JavaScript:newPopup('https://localhost:44304/Employee/Catalog');" class="btn btn-primary add-item-button" id="add">Add Item</button>*@


    <button class="btn btn-primary add-item-button2" id="add" onclick="newPopup('https://localhost:44304/Employee/PopUp')">Add Item</button>
</div>
@*<p><a href="JavaScript:newPopup('https://localhost:44304/Employee/PopUp');" >Add Item</a></p>*@


    </body>

    </html>






