@model Team8ADProjectSSIS.Models.Employee
@{
    ViewBag.Title = "Logout";
}
<h4 class="text-center">Logic University </h4>
<h4 class="text-center">Stationery Store Inventory System</h4>

<h2 class="text-left">Log out</h2>


<p> You are logged out. Please try to log in again.</p>
@using (Html.BeginForm("LogIn", "Home", FormMethod.Get))
{
    <fieldset class="form-group row">
        <input type="submit" value="Login" class="btn btn-primary" />
    </fieldset>
}
