
@{
    ViewBag.Title = "Test1";
}

<h2>Test1</h2>
@{
    var myChart = new Chart(width: 600, height: 400)
        .AddTitle("Chart Title")
        .AddSeries(
            name: "Employee",
            xValue: new[] { "Peter", "Andrew", "Julie", "Mary", "Dave" },
            yValues: new[] { "2", "6", "4", "5", "3" })
        .Write();
}

@using (Html.BeginForm("Test2", "Test", new { }, FormMethod.Post, new { @id = "form" }))
{
    <input type="submit" class="btn btn-danger" name="handle" value="Reject" style="float:right; margin-top:24px"
           onclick="ConfirmReject()" />

}



<script type="text/javascript">
    function ConfirmReject() {
        var remarks = prompt("Please input your remarks or just skip .", "");
        if (!confirm("Confirm reject the selected purchase order ? ")) {
            window.event.returnValue = false;
        }
        else {
            $("#form").submit(function (eventObj) {
                $("<input />").attr("type", "hidden")
                    .attr("name", "remarks")
                    .attr("value", remarks)
                    .appendTo("#form");
                return true;
            });
            window.event.returnValue = true;
        }
    }
</script>


