
@{
    ViewBag.Title = "Manager Dasboard";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml"; ;
}

<div class="jumbotron jumbotron-fluid" style="padding:32px; margin-top:8px">
    <div class="container">
        <h1>STATIONERY STORE - DASHBOARD</h1>
        <p>This is the Stationery page for Manager. You can manage stationery store here!</p>
    </div>
</div>

<!--You can start your code here ^ ^-->
