@using Team8ADProjectSSIS.Models;
@{
    ViewBag.Title = "DisbursementHistory";
    List<Disbursement> AllDisbursement = (List<Disbursement>)ViewData["AllDisbursement"];
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<div class="jumbotron jumbotron-fluid" style="padding:32px; margin-top:16px">
    <div class="container">
        <h2><b>Disbursement History</b></h2>
        <p>You can view the details of each disbursement here!</p>
    </div>
</div>
<div class="row">
    <input class="form-control" id="myInput" type="text" placeholder="Search.." style="margin-left:15px">
</div>
<br />

@if (AllDisbursement == null || AllDisbursement.Count == 0)
{
    <h4 style="color:red"> No disbursement found.</h4>
}
else
{
    <table>
        <tr>
            <th style="width:30%">Department Name</th>
            <th>Date</th>
            <th colspan="2">Status</th>
            <th>Details</th>
        </tr>
        <tbody id="myTable">
            @foreach (Disbursement i in AllDisbursement)
            {
                <tr>
                    <td>@i.Department.Name</td>
                    <td>@i.Date.ToString("dd-MM-yyyy")</td>
                    <td>@i.Status.Label</td>
                    <td>@Html.ActionLink("View", "DisbursementDetails", "StoreManager", new { IdDisbursement = i.IdDisbursement }, null)</td>
                </tr>
            }
        </tbody>
    </table>
}


<style>

    table {
        width: 100%;
        @*box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);*@
        border-collapse: collapse;
        letter-spacing: 1px;
    }

    table, th, tr, td {
        border-bottom: 1px solid #dedede;
        padding: 5px;
        text-align: center;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
