@using Team8ADProjectSSIS.Models;
@{
    ViewBag.Title = "ItemsForSuppliers";
    List<Item> items = ViewBag.items;
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<div class="jumbotron jumbotron-fluid" style="padding:32px; margin-top:16px">
    <div class="container">
        <h1>ITEMS AND THEIR RESPECTIVE SUPPLIERS</h1>
        <p>You can browser the suppliers of each item here!</p>
    </div>
</div>

<table>
    <tr>
        <th>Serial NO.</th>
        <th>Category</th>
        <th>Description</th>
        <th>Suppliers</th>
    </tr>
    @foreach (Item i in items)
    {
        <tr>
            <td>@i.IdItem</td>
            <td>@i.Category.Label</td>
            <td>@i.Description</td>
            <td>@Html.ActionLink("View", "Suppliers", "StoreManager", new { itemId = i.IdItem}, null)</td>
        </tr>
    }
</table>

<style>

    table {
        width: 100%;
        @*box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);*@
        border-collapse: collapse;
        letter-spacing: 1px;
    }

    table, th, tr, td {
        border-bottom: 1px solid #dedede;
        padding: 5px;
        text-align: center;
    }
</style>



