@*Huang Yuzhe*@
@using Team8ADProjectSSIS.Models;
@{
    ViewBag.Title = "ItemsForSuppliers";
    List<Item> items = ViewBag.items;
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<div class="jumbotron jumbotron-fluid" style="padding:32px; margin-top:16px">
    <div class="container">
        <h2><b>ITEMS AND THEIR RESPECTIVE SUPPLIERS</b></h2>
        <p>You can browser the suppliers of each item here!</p>
    </div>
</div>

<div class="row">
    <input class="form-control" id="myInput" type="text" placeholder="Search.." style="margin-left:15px">
</div>
<br />
<table>
    <tr>
        <th>Serial NO.</th>
        <th>Category</th>
        <th>Description</th>
        <th>Suppliers</th>
    </tr>
    <tbody id="myTable">
        @foreach (Item i in items)
        {
            <tr>
                <td>@i.IdItem</td>
                <td>@i.Category.Label</td>
                <td>@i.Description</td>
                <td>@Html.ActionLink("View", "Suppliers", "StoreManager", new { itemId = i.IdItem }, null)</td>
            </tr>
        }
    </tbody>
</table>

<style>

    table {
        width: 100%;
        @*box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);*@
        border-collapse: collapse;
        letter-spacing: 1px;
    }

    table, th, tr, td {
        border-bottom: 1px solid #dedede;
        padding: 5px;
        text-align: center;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>



