@using Team8ADProjectSSIS.Models;
@{
    ViewBag.Title = "ItemsForSuppliers";
    List<Item> items = ViewBag.items;
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<div class="jumbotron jumbotron-fluid" style="padding:32px; margin-top:16px">
    <div class="container">
        <h1>ITEMS AND THEIR RESPECTIVE SUPPLIERS</h1>
        <p>You can browser the suppliers of each item here!</p>
    </div>
</div>

<table>
    <tr>
        <th>Item Code</th>
        <th>Category</th>
        <th>Description</th>
        <th>Suppliers</th>
    </tr>
    @foreach (Item i in items)
    {
        <tr>
            <td>@i.IdItem</td>
            <td>@i.Category.Label</td>
            <td>@i.Description</td>
            <td>@Html.ActionLink("View", "Suppliers", "StoreManager", new { itemId = i.IdItem}, null)</td>
        </tr>
    }
</table>



