@using Team8ADProjectSSIS.Models;
@{
    ViewBag.Title = "Suppliers";
    List<Supplier> suppliers = (List<Supplier>)ViewBag.suppliers;
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<div class="container">

</div>



